@mixin buttonyellow {
	width: 200px;
    height: 80px;
	border-radius: 10px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background-color:$color-yellow;
    color:$color-sgrey;
    border-color:$color-yellow;
}
@mixin buttonblue {
	width: 200px;
    height: 80px;
	border-radius: 10px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background-color:$color-sgrey;
    color:$color-ggrey;
    border-color:$color-sgrey;

}

@mixin button {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: $color-sgrey;
    height: 60px;
    width: 120px;
    border-radius: 10px;
    background-color: $color-gwhite;
}

@mixin input{
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    height: 60px;
    width: 220px;
    border-radius: 10px;
    border: 1px solid $color-green;
}
