$color-sgrey: #274C5B;
$color-green: #7EB693;
$color-yellow: #EFD372;    
$color-lgrey: #D4D4D4;
$color-gwhite: #f9f8f8;
$color-ggrey: #EFF6F1;  
$color-dgrey: #525C60;   

$color-igrey: #ABABAB; 


html {
    scroll-behavior: smooth;
}
body {
    background-color: yellowgreen;
}