.header{
display: flex;
margin: 15px;
padding: 20px;
justify-content: space-between;
align-items: center;
&__logo{
    width: 150px;
}
&__nav{
width: 55vw;
margin-right: 300px;
}
&__nav-list{
display: flex;
justify-content: space-between;
list-style: none;
margin-top: 25px;
padding: 10px; 
}

&__list-item a{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
        
color: $color-sgrey;
text-decoration: none;
}
&__list-item :hover{
color: $color-green ;
}
}
