.registration-form{
display: flex;
justify-content: space-between;
margin: 50px auto;
padding: 10px;
width: 80vw;
&__p{
@include text-list;
margin-left: 10px;
}

&__set{
display: flex;
flex-direction: column;
}
&__form{
display: flex;
flex-direction: column;
}
&__name{
margin-top: 20px;
margin-left: 10px;
color: $color-sgrey;
@include input;
text-align: center;
}
&__password{
margin-top: 20px;
margin-left: 10px;
color: $color-sgrey;
@include input;
text-align: center;
}
&__button{    
@include buttonblue;
margin-top: 20px;
margin-left: 10px;
height: 63px;
width: 224px;
}
&__button:hover{
background-color:$color-green;
color:$color-gwhite;
}    
&__button:active {
background-color: $color-dgrey;
}
&__text{
@include  title;
margin-left: 200px;
color: $color-gwhite;
}
}
@media (max-width: 767px) {
.registration-form{
display: flex;
flex-direction: column;
justify-content: space-between;
margin: 10vw auto;
width: 80vw;
&__img{
margin: 0 auto;
width: 150px;
}
&__form{
margin: 0 auto;
}
}
}
@media (min-width: 768px) and (max-width: 1023px) {
.registration-form{
width: 90vw;
}
}


