.share-with-us {
    width: 100%;
    background-image: url(../../images/share-with-us-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
  }
  
  .share-with-us__title {
    @include title;
  }
  
  .share-with-us__heading-h2 {
    @include heading-h2;
    @media (max-width: 828px) {
        font-size: 30px;
        line-height: 37px;
      }
  }
  
  .share-with-us__input {
    @include input;
    min-height: 60px;
  }

  .share-with-us__input_name {
    min-width: 40%;
    margin-bottom: 30px;
  }
  
  .share-with-us__input_comment {
    min-width: 70%;
    margin-bottom: 20px;
  }
  
  .share-with-us__btn {
    @include buttonyellow;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .share-with-us__btn:hover{
    background-color:$color-yellow;                          
    }

  .share-with-us__form {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }

  .share-with-us__error{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    color: rgb(163, 29, 29);
  }

  .share-with-us__gratitude{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    color: #234530;
    margin-bottom: 20px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .share-with-us__input_name {
        min-width: 60%;
    }
      
    .share-with-us__input_comment {
        min-width: 90%;
    }
  }

  @media (max-width: 767px) {
    .share-with-us__input_name {
        min-width: 95%;
    }
      
    .share-with-us__input_comment {
        min-width: 95%;
    }

    .share-with-us__btn{
        height: 63px;
    }

    .share-with-us__heading-h2 {
            font-size: 30px;
            line-height: 37px;
      }
  }